node-red/dashboard_riepilogo.json
[
  {
    "id": "summary-tab",
    "type": "tab",
    "label": "Riepilogo Totale",
    "disabled": false,
    "info": ""
  },
  {
    "id": "inject-10s",
    "type": "inject",
    "z": "summary-tab",
    "name": "ogni 10s",
    "props": [],
    "repeat": "10",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "topic": "",
    "payloadType": "date",
    "x": 120,
    "y": 60,
    "wires": [["fun-query-today"]]
  },
  {
    "id": "fun-query-today",
    "type": "function",
    "z": "summary-tab",
    "name": "Query riepilogo",
    "func": "// Query multiple: count logs today\nmsg.topic = `\nSELECT 'erogazioni' AS tipo, COUNT(*) AS valore FROM dispenser_logs WHERE DATE(delivered_at) = CURRENT_DATE\nUNION\nSELECT 'presenze', COUNT(*) FROM proximity_log WHERE DATE(timestamp) = CURRENT_DATE\nUNION\nSELECT 'allarmi', COUNT(*) FROM alarm_log WHERE DATE(timestamp) = CURRENT_DATE`;\nreturn msg;",
    "outputs": 1,
    "x": 340,
    "y": 60,
    "wires": [["db-query-today"]]
  },
  {
    "id": "db-query-today",
    "type": "postgresql",
    "z": "summary-tab",
    "name": "PostgreSQL (badge)",
    "query": "",
    "postgreSQLConfig": "YOUR-CONFIG-ID",
    "split": false,
    "rowsPerMsg": 1,
    "outputs": 1,
    "x": 560,
    "y": 60,
    "wires": [["switch-split"]]
  },
  {
    "id": "switch-split",
    "type": "switch",
    "z": "summary-tab",
    "name": "Smista per tipo",
    "property": "payload.tipo",
    "propertyType": "msg",
    "rules": [
      {"t": "eq", "v": "erogazioni", "vt": "str"},
      {"t": "eq", "v": "presenze", "vt": "str"},
      {"t": "eq", "v": "allarmi", "vt": "str"}
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 3,
    "x": 770,
    "y": 60,
    "wires": [["text-erogazioni"], ["text-presenze"], ["text-allarmi"]]
  },
  {
    "id": "text-erogazioni",
    "type": "ui_text",
    "z": "summary-tab",
    "group": "group-summary",
    "order": 1,
    "width": 4,
    "height": 1,
    "name": "Totale Erogazioni",
    "label": "Erogazioni oggi",
    "format": "{{msg.payload.valore}}",
    "layout": "row-spread",
    "x": 1000,
    "y": 20,
    "wires": []
  },
  {
    "id": "text-presenze",
    "type": "ui_text",
    "z": "summary-tab",
    "group": "group-summary",
    "order": 2,
    "width": 4,
    "height": 1,
    "name": "Totale Presenze",
    "label": "Presenze oggi",
    "format": "{{msg.payload.valore}}",
    "layout": "row-spread",
    "x": 1000,
    "y": 60,
    "wires": []
  },
  {
    "id": "text-allarmi",
    "type": "ui_text",
    "z": "summary-tab",
    "group": "group-summary",
    "order": 3,
    "width": 4,
    "height": 1,
    "name": "Totale Allarmi",
    "label": "Allarmi oggi",
    "format": "{{msg.payload.valore}}",
    "layout": "row-spread",
    "x": 1000,
    "y": 100,
    "wires": []
  },
  {
    "id": "inject-week",
    "type": "inject",
    "z": "summary-tab",
    "name": "ogni 30s (grafico)",
    "props": [],
    "repeat": "30",
    "crontab": "",
    "once": true,
    "onceDelay": "1",
    "topic": "",
    "payloadType": "date",
    "x": 120,
    "y": 240,
    "wires": [["chart-week-func"]]
  },
  {
    "id": "chart-week-func",
    "type": "function",
    "z": "summary-tab",
    "name": "Query erogazioni 7 giorni",
    "func": "msg.topic = `\n  SELECT DATE(delivered_at) AS giorno, COUNT(*) AS totale\n  FROM dispenser_logs\n  WHERE delivered_at >= CURRENT_DATE - INTERVAL '6 days'\n  GROUP BY giorno\n  ORDER BY giorno\n`;\nreturn msg;",
    "outputs": 1,
    "x": 320,
    "y": 240,
    "wires": [["chart-db-query"]]
  },
  {
    "id": "chart-db-query",
    "type": "postgresql",
    "z": "summary-tab",
    "name": "PostgreSQL (chart)",
    "query": "",
    "postgreSQLConfig": "YOUR-CONFIG-ID",
    "split": false,
    "rowsPerMsg": 1,
    "outputs": 1,
    "x": 560,
    "y": 240,
    "wires": [["format-chart-data"]]
  },
  {
    "id": "format-chart-data",
    "type": "function",
    "z": "summary-tab",
    "name": "Formatta per ui_chart",
    "func": "let labels = [];\nlet values = [];\n\nmsg.payload.forEach(row => {\n    labels.push(row.giorno);\n    values.push(row.totale);\n});\n\nmsg.payload = [{\n    series: [\"Erogazioni\"],\n    data: [values],\n    labels: labels\n}];\n\nreturn msg;",
    "outputs": 1,
    "x": 790,
    "y": 240,
    "wires": [["chart-week"]]
  },
  {
    "id": "chart-week",
    "type": "ui_chart",
    "z": "summary-tab",
    "name": "Erogazioni settimanali",
    "group": "group-summary",
    "order": 4,
    "width": 12,
    "height": 4,
    "label": "Erogazioni negli ultimi 7 giorni",
    "chartType": "bar",
    "legend": "false",
    "xformat": "auto",
    "interpolate": "linear",
    "nodata": "Nessun dato",
    "dot": false,
    "ymin": "0",
    "ymax": "",
    "removeOlder": 1,
    "removeOlderPoints": "",
    "removeOlderUnit": "3600",
    "cutout": 0,
    "useOneColor": false,
    "colors": ["#1f77b4", "#aec7e8", "#ff7f0e"],
    "useOldStyle": false,
    "x": 1030,
    "y": 240,
    "wires": []
  },
  {
    "id": "group-summary",
    "type": "ui_group",
    "name": "Riepilogo",
    "tab": "tab-summary",
    "order": 1,
    "disp": true,
    "width": "12"
  },
  {
    "id": "tab-summary",
    "type": "ui_tab",
    "name": "Riepilogo Totale",
    "icon": "dashboard",
    "order": 3
  }
]
